[mysqld]
user=mysql
port=3306
server-id=1
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
character-set-server = utf8
skip-character-set-client-handshake
log-error=/var/log/mysql/mysql/error.log
general_log=1
general_log_file=/var/log/mysql/query.log
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
max_connections = 10
key_buffer_size = 32M
max_allowed_packet = 8M
table_open_cache = 1024
tmp_table_size = 32M
max_heap_table_size = 32M
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 16M
thread_cache_size = 10
wait_timeout = 30
thread_concurrency = 4
log-bin=mysql-bin
binlog_format=mixed
innodb_data_home_dir = /var/lib/mysql
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = /var/lib/mysql
innodb_buffer_pool_size = 128M
innodb_additional_mem_pool_size = 10M
innodb_log_file_size = 64M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 20

[mysqld_safe]
log-error = /var/log/mysql/safe-error.log
character-set-server = utf8
pid-file=/var/run/mysqld/mysqld.pid

[mysqldump]
quick
max_allowed_packet=8M
default-character-set=utf8

[mysql]
no-auto-rehash
default-character-set=utf8

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout